.filter-container {
  display: grid;
  grid-template-columns: max-content auto;
  grid-auto-rows: min-content;
  border-right: 1px solid rgba(128, 128, 128, 0.479);
  padding: 10px;
  .header {
    padding: 20px 10px 5px;
    font-weight: bold;
    grid-column: 1/3;
  }
  input {
    margin-left: 20px;
  }
  .field {
  }
}
